<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>wikise</title>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
 
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
 
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function(){
	  $('#main_table').dataTable();
	});
</script>
</head>
<body>
<p><font color="red">{{error_message}}</font></p>
  <form action="." autocomplete="on" method="post">
    {% csrf_token %}
    WIKI URL: <input type="url" name="wiki_url" value="{{ wiki_url }}" style="width: 500px;" ><br>
    <input type="submit">
  </form>
  <table id='main_table' width="600">
  <thead>
  <tr>
     <th>REVISION ID</th>
  </tr>   
  </thead>
  <tbody>
   	{% for item in revision_ids %}      
    <tr> 
		 <td align="center"><a href ="http://en.wikipedia.org/w/index.php?title={{article}}&oldid={{item}}" target="_blank" >{{item}}</a></td>			
    </tr>
    {% endfor %}
  </tbody>
  </table>
  
</body>
</html>